<!DOCTYPE html>
<html lang="en">
<head>
     {{>headlink}}
   <link rel="stylesheet" href=".css/index.css">
</head>
<body>
    {{>navbar}};
    
    <div class="backgroung">
 <div class="containter-fluid main_header" >
   <div class="row">
      <div class="col-md-10 col-12 mx-auto">
         <div class="row">
            <div class="col-md-6 col-12 main_header_left">
              <h1>facts About Weather</h1>
              <p>Weather refers to the atmospheric conditions at a particular place and time, including temperature, humidity, precipitation, wind speed and direction, and atmospheric pressure.

The weather is influenced by various factors, such as the Earth's rotation, the sun's radiation, air pressure systems, and the distribution of land and water.

Climate refers to the long-term average weather conditions in a particular region, while weather describes the short-term variations and changes in the atmosphere.

Weather forecasts are predictions of future weather conditions based on current observations, historical data, and mathematical models. They help us anticipate and plan for upcoming weather events.

The temperature is a measure of how hot or cold the air is. It is usually measured in degrees Celsius (°C) or Fahrenheit (°F).

Humidity refers to the amount of moisture or water vapor present in the air. It is often expressed as a percentage, with higher percentages indicating more moisture in the air.

Precipitation includes any form of water that falls from the atmosphere to the Earth's surface, such as rain, snow, sleet, or hail.

Wind is the movement of air in the atmosphere. It is caused by differences in air pressure, and its speed and direction can vary greatly.

Atmospheric pressure is the force exerted by the weight of the air above a given point. It is commonly measured using a barometer and is often reported in units of millibars or inches of mercury.

</p>
<a href="/weather"><button>weather data</button></a>

   </div>































            <div class="col-md-6 col-12 main_header_right">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./css/pic2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>rainy season</h2>
        <p>The highest amount of rainfall ever recorded in one year is 22,987 mm (905.0 in) in Cherrapunji, India in 1861.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./css/pic1.jpg" class="d-block w-100" alt="...">
     <div class="carousel-caption d-none d-md-block">
        <h2>summer season</h2>
        <p>The warmest season of the four pleasant seasons is summer</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./css/pic3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>winter season</h2>
        <p>The Sun seems bigger in winter than in summer.</p>
        <p>Winter storms result in many feet of snow.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            </div>
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         
         </div>
      </div>
   </div>
 </div>
 </div>
</body>
</html>